/* 상단 영역 */
.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 67px;
  padding-top: 15px;
  padding: 0 15px;
  background-color: #ffffff;
}

.header .layout {
  display: flex;
  align-items: center;
  /* 중앙 공간을 기준으로 좌우 끝으로 정렬 */
  justify-content: space-between;
  max-width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  /* 정렬 방식 : 가로로 정렬 */
  display: flex;
  /* 세로 정렬 : 중앙 정렬  */
  align-items: center;
  gap: 12px;
  /* background-color: greenyellow; */
}
.header-logo-link {
  width: 88px;
  height: 22px;
}
.header-logo-link img {
  width: 100%;
  height: 100%;
}

.header-logo-motion {
  width: 68px;
  height: 31px;
}

.header-logo-motion img {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 700;
}

.navigation button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.navigation button img {
  width: 100%;
  height: 100%;
}
