/* 상단 영역 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding: 0px;
  z-index: 999;
  background-color: #ffffff;
}
.header-active {
  border-bottom: 1px solid #e6e5e6 !important;
}

.header .layout {
  display: flex;
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
  align-items: center;
  /* 중앙 공간을 기준으로 좌우 끝으로 정렬 */
  justify-content: space-between;
  max-width: 1180px;
}

.header-logo {
  /* 정렬 방식 : 가로로 정렬 */
  display: flex;
  /* 세로 정렬 : 중앙 정렬  */
  align-items: center;
}
.header-logo-link {
  width: 88px;
  height: 22px;
  margin-right: 5px;
}
.header-logo-link img {
  width: 100%;
  height: 100%;
}

.header-logo-motion {
  width: 68px;
  height: 30px;
  cursor: pointer;
}
.header-logo-motion img {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navigation a {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.navigation a:hover {
  color: #007aff;
}
.navigation button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.navigation button img {
  width: 100%;
  height: 100%;
}
.navigation button img:hover {
  filter: invert(31%) sepia(96%) saturate(3181%) hue-rotate(201deg)
    brightness(104%) contrast(107%);
}

/* id 에 css 를 추가하고 싶을때는 앞에 #을 붙인다 */
#mb-menu-bt {
  display: none;
}

.bg-mb-menu {
  /* html 자체가 존재하지 않는 것으로 취급 */
  /* display: none; */
  /* html 자체는 존재하지만 눈에 보이지만 않는 것으로 취급 */
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* viewport 의 높이 */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.bg-mb-menu-active {
  /* display: block !important; */
  visibility: visible !important;
  opacity: 1;
}

.mb-menu {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 67px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  z-index: 9999;
  overflow: hidden;

  transition: all 0.2s ease-in;
  transition-delay: 0.15s;
}
.mb-menu-active {
  height: 160px !important;
  /* display: block !important; */
  visibility: visible !important;
}
.mb-menu .layout {
  margin: 0 15px;
  padding-left: 20px;
  padding-bottom: 40px;
  max-width: 1180px;
}
.mb-menu .layout a {
  display: block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
.mb-menu .layout a:hover {
  color: #007aff;
}

/* Header 반응형 */
@media screen and (max-width: 1024px) {
  .header {
    /* border: none; */
  }
  .navigation {
    gap: 15px;
  }
  .navigation a {
    display: none;
  }
  #mb-menu-bt {
    display: block;
  }
  .bg-mb-menu {
    /* display: block; */
  }
  .mb-menu {
    /* display: block; */
  }
}
