/* 메인 영역 */
.main {
  max-width: 1170px;
  min-height: 600px;
  /* margin: 상하여백(0px) 좌우여백(auto) */
  margin: 0px auto;
}

.main .layout {
}

.main-slide {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

/* 왼쪽 영역  */
.main-slide .left {
  width: 770px;
  height: 470px;
}

.visual-slide {
  width: 100%;
  height: 100%;
  /* 테두리를 둥글게 */
  border-radius: 20px;
  /* 넘치는 부분은 숨겨라 */
  overflow: hidden;
}

/* visual-slide 태그 안의 a 태그 */
/* a 태그에는 대부분의 스타일시트가 안 먹힘 */
/* 이유는 display:inline; 이 기본설정이기 때문에 */
.visual-slide a {
  width: 100%;
  height: 100%;
}

/* visual-slide 태그 안의 a 태그 안의 img 태그*/
.visual-slide a img {
  width: 100%;
  height: 100%;
}

/* 오른쪽 영역 */
.main-slide .right {
  width: 370px;
  height: 470px;
}

.card-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

/* card-slide 태그 안의 a 태그*/
.card-slide a {
  width: 100%;
  height: 100%;
}

/* card-slide 태그 안의 a 태그 안의 img 태그*/
.card-slide a img {
  width: 100%;
  height: 100%;
}

/* 내용 영역 */
.main-content {
  display: flex;
  margin-top: 60px;
}

.main-content .left {
}

.list-new-wrap {
}

.list-title {
  margin-bottom: 30px;
  font-size: 24px;
  color: #1e1e1e;
}

.list-thum-wrap {
  margin-bottom: 45px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.thum {
  width: 260px;
  text-decoration: none;
}
.thum-img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
}
.thum-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thum-cate {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.thum-cate img {
  width: 24px;
  height: 24px;
}
.thum-cate .AI {
  color: rgb(119, 56, 255);
  font-size: 14px;
  font-weight: 600;
}
.thum-cate .Krew {
  color: rgb(231, 0, 167);
  font-size: 14px;
  font-weight: 600;
}
.thum-title {
  color: rgb(30, 30, 30);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.thum-date {
  color: rgb(204, 204, 204);
}

.banner {
  width: 840px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 60px;
}

.banner a {
  width: 100%;
  height: 100%;
}

.banner a img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  object-fit: cover;
}

.list-cate-wrap {
}

.list-title {
  margin-bottom: 40px;
}

.list-thum-wrap {
}

.main-content .right {
}

.list-card-wrap {
}

.list-title {
}

.list-card {
}

.list-img {
}

.list-cate {
}
