.main-content .right {
  /* 300/1180 * 100 = 25.423... */
  width: 25.423vw;
  max-width: 300px;
}

.list-card-wrap {
  width: 100%;
}

.list-title {
}

.list-card {
  /* <a></a>태그는 기본적으로 inline 속성이라
  block 으로 변경해 border-radius 등 옵션을 주기 위해서 */
  display: block;
  position: relative;
  width: 100%;
  height: 28.135vw;
  max-height: 332px;
  color: rgb(229, 231, 235);
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s, filter 0.4s;
  margin-bottom: 30px;
}
.list-card:hover {
  transform: translateY(-12px);
  filter: drop-shadow(0px 20px 40px #bdc4d3);
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 25px 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 4px;
}

.card-cate {
  color: #f5f7fa;
  font-weight: 700;
  font-size: 18px;
}

.card-number {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 10px;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.9);
}

@media screen and (max-width: 1024px) {
  .main-content .right {
    display: none;
  }
}
